#tituloAcordeon {
  color: #f937ea;
  font-weight: bold;
  margin-right: 14%;
}

.collapsible {
    font-weight: bold;
    text-align: left;
}

.collapsible-header {
  font-weight: bold;
  text-align: left;
  border: 1px ridge #0f9b9b;
}


