nav .nav-wrapper {
    
    background-color: #0F9b9b;
}

nav .brand-logo {
    float: left;
    position: unset !important;
    margin-left: 10%;
}
.logo{
    margin-top: 11px;
}

.menuItems{
    margin-right: 2%;
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    
    font-size: 40px ;
    
}

#menu .fa-lg {
    font-size: 1.33333333em;
   
    vertical-align: 0%;
}

#txt_boton_entrar{
    font-size: 1rem;
}
ul#mobile-demo li a {
    display: inline-block !important;
}
a#perfil {
    font-size: 1rem;
}
#dropdown1{
    width: auto !important;
    height: auto !important;
}


ul#dropdown1 {
    width: 13% !important;
}
